@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.bg{
    background: url("1.jpg") no-repeat center center/cover;
    position: absolute;
    top: -40px;
    bottom: -40px;
    right: -40px;
    left: -40px;
    height: 107vh;
    width: 103vw;
    z-index: -1;
    filter: blur(0px);
}

.loading-text{
    font-size: 50px;
    color: white;
}