.contact-content {
    height: 72vh;
    /* background-color: rgb(251, 250, 253); */
    display: block;
    /* margin-top: 32px; */
    padding: 10px;
    position: relative;
    overflow: hidden;

}

.contact-content::after {
    content: "";
    background-image: url('../img/img3.jpg');
    background-size: cover;
    position: absolute;
    width: 100%;
    height: inherit;
    opacity: 0.15;
    top: 0;
    z-index: -1;
}