/* *{
    box-sizing: border-box;
} */

/* body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
  } */
#clockContainer {
    position: relative;
    margin: auto;
    height: 41vw;
    width: 35vw;
    background: url(clock.png) no-repeat;
    background-size: 100%;
}

#hour, #minute, #second, #dot {
    background: black;
    position: absolute;
    border-radius: 10px;
}

#hour {
    height: 20%;
    width: 1.4%;
    top: 35%;
    left: 50%;
    transform-origin: bottom;

}

#minute {
    height: 25%;
    width: 1.2%;
    top: 30%;
    left: 50%;
    transform-origin: bottom;
}

#second {
    height: 29%;
    width: 1%;
    top: 26%;
    left: 50%;
    transform-origin: bottom;
}

#dot {
    height: 4%;
    width: 5%;
    left: 48%;
    top: 53%;
    border-radius: 100%;
}